.contacts {
    &__title {
        font-family: "Roboto Bold";
        font-size: 32px;
        line-height: 37px;
        color: #000000;
        margin-left: 24px;
    }
    &__wrap {
        padding-left: 24px;
        padding-top: 40px;
        padding-bottom: 120px;
    }
    &__block {
        width: 684px;
        min-height: 427px;
        padding-top: 24px;
        padding-left: 16px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(8, 35, 48, 0.24);

    }
    &__name {
        display: block;
        padding: 12px 0px 12px 16px;
        width: 314px;
        height: 46px;
        margin-top: 16px;
        background: #F1F3F4;
        border: none;
        font-family: "Roboto";
        font-size: 16px;
        line-height: 22px;
        color: #000000;

    }
    &__tel {
        padding: 12px 0px 12px 16px;
        display: block;
        margin-top: 16px;
        background: #F1F3F4;
        border: none;
        width: 196px;
        height: 46px;
        font-family: "Roboto";
        font-size: 16px;
        line-height: 22px;
        color: #000000;
    }
    &__your-question {
        padding: 12px 0px 12px 16px;
        display: block;
        margin-top: 16px;
        background: #F1F3F4;
        border: none;
        width: 550px;
        height: 150px;
        font-family: "Roboto";
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        resize: none;
    }
    &__sub-wrap {
        display: flex;
        align-items: center;
        width: 550px;
        min-height: 38px;
        margin-top: 16px;
        justify-content: space-between;
    }
    &__rights {
        font-family: "Roboto";
        font-size: 12px;
        line-height: 14px;
        color: #151515;
        margin-left: 12px;
    }
    &__left-side {
        display: flex;
        width: 360px;
        height: 28px;
        align-items: center;
    }
}

@media all and (max-width: 725px){
    .contacts {
        &__wrap {
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 21px;
            padding-bottom: 80px;
        }

        &__block {
            width: 100%;
            padding: 24px 24px 32px;
        }
    }
}

@media all and (max-width: 600px){
    .contacts {
        &__name {
            display: block;
            padding: 12px 0px 12px 16px;
            width: 327px;
            height: 46px;
            margin-top: 24px;
            background: #F1F3F4;
            border: none;
            font-family: "Roboto";
            font-size: 16px;
            line-height: 22px;
            color: #000000;
    
        }
        &__tel {
            padding: 12px 0px 12px 16px;
            display: block;
            margin-top: 16px;
            background: #F1F3F4;
            border: none;
            width: 196px;
            height: 46px;
            font-family: "Roboto";
            font-size: 16px;
            line-height: 22px;
            color: #000000;
        }
        &__your-question {
            padding: 12px 0px 12px 16px;
            display: block;
            margin-top: 16px;
            background: #F1F3F4;
            border: none;
            width: 327px;
            height: 150px;
            font-family: "Roboto";
            font-size: 16px;
            line-height: 22px;
            color: #000000;
        }
        &__instruction {
            width: 327px;
            min-height: 44px;
        }
        &__sub-wrap {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 327px;
            min-height: 38px;
            margin-top: 16px;
            justify-content: space-between;
        }
        &__right-side, &__left-side {
            width: 327px;
        }
        &__right-side {
            height: 38px;
            margin-top: 24px;
        }
        &__left-side {
            height: 42px;
        }
        &__button {
            width: 100%;
        }
    }
}

@media all and (max-width: 375px) {
    .contacts {
        &__name, &__tel, &__your-question, &__button, &__right-side, &__left-side, &__sub-wrap, &__instruction {
            max-width: 300px;
        }
    }
}