.for-whom {
    &__wrap {
        display: flex;
        margin-left: 24px;
        align-items: center;
        height: 369px;
        justify-content: space-between;
        padding-bottom: 104px;
    }
    &__left-side {
        max-width: 450px;
        min-height: 178px;
    }
    &__basic_settings {
        width: 595px;
        height: 369px;
        background-image: url(../img/Basic_settings_2_1.png);
        background-repeat: no-repeat;
    }
    &__text {
        font-family: "Roboto";
        font-size: 16px;
        line-height: 22px;
        color: #3E4345;
    }
}

@media all and (max-width: 1410px){
    .for-whom {
        &__wrap {
            margin-top: 200px;
            flex-direction: column-reverse;
        }
        &__left-side {
            margin-top: 24px;
        }
    }
}

@media all and (max-width: 650px){
    .for-whom {
        &__wrap {
            margin-top: 95px;
        }
        &__basic_settings {
            width: 327px;
            height: 203px;
            background-image: url(../img/Basic_settings_2_1-small.png);
            background-repeat: no-repeat;
        }
    }
}

@media all and (max-width: 600px){
    .for-whom {
        &__wrap {
            align-items: flex-start;
            padding-bottom: 80px;
        }
        &__left-side {
            margin-top: 35px;
        }
    }
}

@media all and (max-width: 375px) {
    .for-whom {
        &__basic_settings {
            max-width: 300px;
        }
    }
}